@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<p>
    Ops, dette gikk galt.
    <a href="javascript:history.go(-1)">Klikk her</a>
    hvis du vil prøve igjen.
</p>


